body {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;


	video#bgvid, 
	.filter,
	.hero {
		position: fixed; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		width: auto; height: auto; z-index: -100;
		background-size: cover;

	}

	.filter {
		background-color: #fff;
		opacity: 1;
		z-index: -90;
		-webkit-animation: slowFadeIn 5s ease 1s 1 normal forwards;
		-o-animation: slowFadeIn 5s ease 1s 1 normal forwards;
		animation: slowFadeIn 5s ease 1s 1 normal forwards;
	}

	.hero {
		z-index: -1;
	}

	&.off {
		video#bgvid, 
		.filter {
			display: none;
		}
	}

	h1 {
			text-align: center;
			color: #fff;
			text-shadow: 0px 0px 8px rgba(0,0,144,0.6);
			font-size: 4em;
		}

	h1,nav,.weather {
		font-family: 'Montserrat', sans-serif;
	}

	.weather {
		position: absolute;
		top: 25px;
		left: 5px;
		color: #fff;
		display: none;
		flex-direction: column;

		* {
			text-shadow: 0px 1px 4px rgba(0,0,0,0.6);
			font-family: 'Open Sans', sans-serif;
		}

		color: #fff;
		.name {
			font-size: 24px;
			margin-left: 15px;
		}

		.temp {
			font-size: 20em;
			font-weight: 300;
			line-height: 1;
			margin-top: -20px;
		}

		.text {
			font-size: 2em;
			margin-left: 15px;
		}

		.icon {
			display: none;
		}
	}

	.messaging {
		position: absolute;
		right: -50%;
		top: 0;
		width: 50%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		color: #fff;
		font-family: 'Open Sans';
		padding: 30px;
		box-sizing: border-box;
		font-size: 20px;
		overflow-y: scroll;

	}

	nav {

		width: 200px;
		position: absolute;
		bottom: -250px;
		left: 0;

		ul,li {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			color: #fff;
		}

		ul {
			width: 200px;
			display: block;
			margin: 0 auto;
			padding: 0 10px;
		}

		li {
			display: block;
			// animation-name: menuSplash;
			// -webkit-animation: menuSplash .25s ease 10s 1 normal forwards;
			// -o-animation: menuSplash .25s ease 10s 1 normal forwards;
			// animation: menuSplash .25s ease 10s 1 normal forwards;		
			opacity:1;
			border-bottom: 1px solid rgba(245, 245, 245, 0.24);
		}

		@for $i from 1 through 6 {
		  li:nth-child(#{$i}){
		    -webkit-animation-delay: .5s + ($i);
		    animation-delay:  .5s + ($i);
		  }
		}

		li:last-child {
			border-bottom-width: 0;
		}


		.locationLink {
			text-shadow: 0px 0px 8px rgba(0,0,144,0.6);
			transition: all .25s ease;
			display: block;
			margin-bottom: 5px;
			font-size: 20px;
			padding: 4px 0;

			&:hover {
				cursor: pointer;
				transform: scale3d(1.25,1.25,1.25);			
			}
		}
	}
}



@-webkit-keyframes menuPop {
	from { bottom: -230px }
	to { bottom: 0 }
}
@-o-keyframes menuPop {
	from { bottom: -230px }
	to { bottom: 0 }
}
@-moz-keyframes menuPop {
	from { bottom: -230px }
	to { bottom: 0 }
}
@keyframes menuPop {
	from { bottom: -230px }
	to { bottom: 0 }
}

@-webkit-keyframes slowFadeIn {
	from { opacity: 1 }
	to { opacity: 0.5}
}
@-o-keyframes slowFadeIn {
	from { opacity: 1 }
	to { opacity: 0.5 }
}
@-moz-keyframes slowFadeIn {
	from { opacity: 1 }
	to { opacity: 0.5 }
}
@keyframes slowFadeIn {
	from { opacity: 1 }
	to { opacity: 0.5 }
}